/* ---- ELEMENTS ---- */
body{margin:0;padding:0;box-sizing:border-box;min-height:100vh;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;background-color: #fff2c5 !important;}
footer{background-color:#10b6b4 !important;}


.navbar{background-color:#10b6b4 !important;}